variables:
  DOCKER_IMAGE: "registry.ddbuild.io/docker:24.0.4-gbi-focal"
  CI_IMAGE_REPO: "registry.ddbuild.io/ci/commit-headless"
  # Built on main commit 887ca009df25f0f20054dcb9cde962a8fc918ce6
  # via: https://gitlab.ddbuild.io/DataDog/commit-headless/-/jobs/1008535804
  CI_IMAGE_TAG: "v69355779-887ca009@sha256:5f54925e98f1961dd7476eae8faba387efbdc7fa78ce1b515c828e9bf583a1fd"
  CI_IMAGE: "${CI_IMAGE_REPO}:${CI_IMAGE_TAG}"

  IMAGE_REPO: "registry.ddbuild.io/commit-headless-prerelease"
  PUBLISH_IMAGE_REPO: "registry.ddbuild.io/commit-headless"

  # Setup the go environment variables, primarily GOPROXY
  # XXX: Taken from dd-go/.mm/go/gitlab.gomod.yml
  GOPROXY: "https://depot-read-api-go.us1.ddbuild.io/magicmirror/magicmirror/@current/|https://depot-read-api-go.us1.ddbuild.io/magicmirror/testing/@current/"
  GONOSUMDB: "github.com/DataDog,go.ddbuild.io"
  GOPRIVATE: ""

default:
  tags: ["arch:amd64"]
  image: ${CI_IMAGE}
  before_script:
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.ddbuild.io/DataDog/".insteadOf "https://github.com/DataDog/"
    - git config --global --add safe.directory $PWD

stages:
  - reset
  - test
  - release


# Executed manually when the CI image needs to be updated. Results from the build should replace
# CI_IMAGE_TAG in variables, above.
# This job uses the DOCKER_IMAGE, whereas all other jobs use CI_IMAGE.
build-ci-image:
  when: manual
  image: ${DOCKER_IMAGE}
  stage: .pre
  script:
    - METADATA_FILE=$(mktemp)
    - tag="${CI_IMAGE_REPO}:v${CI_PIPELINE_ID}-${CI_COMMIT_SHORT_SHA}"
    - docker buildx build --tag ${tag} --label target=build --push --metadata-file ${METADATA_FILE} --file Dockerfile.ci .
    - ddsign sign "${tag}" --docker-metadata-file ${METADATA_FILE}


.octo-sts-job:
  id_tokens:
    DDOCTOSTS_ID_TOKEN:
      aud: dd-octo-sts
  image: "registry.ddbuild.io/commit-headless-ci-image:v0.5.0"
  variables:
    STS_SCOPE: 'Datadog/commit-headless'
  before_script:
    - dd-octo-sts version
    - dd-octo-sts debug --scope "${STS_SCOPE}" --policy "${STS_POLICY}"
    - dd-octo-sts token --scope "${STS_SCOPE}" --policy "${STS_POLICY}" > octo-sts-token
    - echo "STS_TOKEN=$(cat octo-sts-token)" >> $GITLAB_ENV
    - rm octo-sts-token
  after_script:
    - dd-octo-sts revoke -t "${STS_TOKEN}"

staging-reset-manual:
  image: "registry.ddbuild.io/commit-headless-ci-image:v0.5.0"
  when: manual
  stage: reset
  id_tokens:
    DDOCTOSTS_ID_TOKEN:
      aud: dd-octo-sts
  script:
    - export REPO="commit-headless"
    - bash .ci/reset-staging.sh
  after_script:
    - dd-octo-sts revoke -t "${READ_SCRIPT_TOKEN}"
    - dd-octo-sts revoke -t "${GITHUB_TOKEN}"

test:
  stage: test
  script:
    - go test -v .


# Releases are triggered on pushes to main, or manually
release:build:
  stage: release
  needs: [test] # add prerelease test job
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - when: manual
  script: .ci/build.sh
  artifacts:
    paths:
      - dist/


release:image:
  stage: release
  needs: [release:build]
  image: ${DOCKER_IMAGE}
  script: .ci/release.sh
  artifacts:
    paths:
      - image-metadata.json
      - dist/


# Publish takes the image produced by the release job and tags it appropriately for users to find
# it. Only happens on the default branch.
release:publish:
  stage: release
  needs: [release:image]
  image: ${DOCKER_IMAGE}
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  script:
    - .ci/publish.sh
    - .ci/publish-image.sh


# Runs a set of live tests using the to-be-released version of commit-headless
#release:test:
#  extends: .octo-sts-job
#  stage: release
#  needs: [release:build]
#  variables:
#    STS_POLICY: "test-pipeline"
#
#  script:
#    - .ci/test-push.sh
